#box
{
  background-color: darkorange;
  display:inline-block;
  padding:50px;
  text-align: center; 
  border-style: solid;
    border-width: 5px;
  border-radius: 20px;
}
#box:hover
{
    
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
    border-color: black;
    background-color: rebeccapurple;
    color:white;
}